.about-section {
    /*display: flex;*/
    /*align-items: center;*/
    position: relative;
    background: linear-gradient(45deg, #000000, #062A79) no-repeat fixed;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about-section {
    width: 100%;
}

.about-section img{
    height: auto;
    width: 420px;
    border-radius: 100px;
}
.about-text{
    width: 550px;
}

.about-main{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 60px 50px;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: #f9004c;
    font-size: 40px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #f9004c;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004c;
    cursor: pointer;
}

@media (min-width:300px) and (max-width: 500px){
    .about-section img{
        width: 300px;
    }

    .about-text h1{
        font-size: 60px;
        margin-bottom: 20px;
    }

    .about-text h5{
        font-size: 30px;
    }

    .about-text{
        text-align: center;
    }
}

@media (max-width: 1120px){
    .about-main{
        gap: 20px 50px;
        height: auto;
    }
}