.about-section {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #65ff00, #062A79) no-repeat fixed;
    padding: 50px 30px;
}

.about-section p,
.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}