<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}">
    <script src="https://kit.fontawesome.com/89c1e40751.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header">
<!--      <a href="#" class="logo">My Portfolio</a>-->
<!--    <div class="animated-logo">-->
<!--        <div class="letter">M</div>-->
<!--        <div class="letter">Y</div>-->
<!--        <div class="letter">P</div>-->
<!--        <div class="letter">O</div>-->
<!--        <div class="letter">R</div>-->
<!--        <div class="letter">T</div>-->
<!--        <div class="letter">F</div>-->
<!--        <div class="letter">O</div>-->
<!--        <div class="letter">L</div>-->
<!--        <div class="letter">I</div>-->
<!--        <div class="letter">O</div>-->
<!--    </div>-->

<!--      <nav class="navbar">-->
<!--          <a href="#home" class="active">Home</a>-->
<!--          <a href="#about">About</a>-->
<!--          <a href="#education">Education</a>-->
<!--          <a href="/projects">Projects</a>-->
<!--          <a href="/contact">Contact</a>-->
<!--      </nav>-->

    <nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa-solid fa-bars"></i>
  </label>
  <label class="logo">MyPortfolio.</label>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#">Education</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
</header>

<section class="home" id="home">
<div class="container">
    <div class="card1" style="--clr:#891446">
        <div class="imgBx">
            <img src="../static/images/fun.jpg">
        </div>
        <div class="content">
            <h2>Fun Facts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad ducimus eligendi error eveniet illum molestias odio reiciendis saepe soluta, veritatis voluptas, voluptates. Doloribus esse incidunt itaque porro unde?</p>
            <a href="#about">Read More</a>
        </div>
    </div>
    <div class="card" data-tilt>
        <img src="../static/images/profilesized.png">
        <h2>Ally Baubooa</h2>
        <p>I'm a Full Stack Developer and Coding is Life. </p>
        <div class="links">
            <a href="https://www.facebook.com/allyhussein.baubooa"><img src="../static/images/facebook.png"></a>
            <a href="https://github.com/allybaubooa"><img src="../static/images/github-logo.png"></a>
            <a href="https://twitter.com/ally_wizzyboo"><img src="../static/images/twitter.png"></a>
        </div>
        <div class="container1">
            <div class="btn"><a href="#">Contact Me</a> </div>
        </div>
    </div>
    <div class="card1" style="--clr:#062A79">
        <div class="imgBx">
            <img src="../static/images/code.jpg">
        </div>
        <div class="content">
            <h2>Coding</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad ducimus eligendi error eveniet illum molestias odio reiciendis saepe soluta, veritatis voluptas, voluptates. Doloribus esse incidunt itaque porro unde?</p>
            <a href="#about">Read More</a>
        </div>
    </div>
</div>
</section>

<section class="about-section" id="about">
    <div class="about-main">
        <img src="../static/images/ProfileImage.png">
        <div class="about-text">
        <h1>About Me</h1>
            <h5>I am a <span> Full Stack Developer</span></h5>
<!--            <div class="wrapper">-->
<!--                <div class="static-txt">I'm a</div>-->
<!--                <ul class="dynamic-texts">-->
<!--                    <li><span>Full Stack Developer</span></li>-->
<!--                    <li><span>Technician</span></li>-->
<!--                    <li><span>Data Analyst</span></li>-->
<!--                    <li><span>Freelancer</span></li>-->
<!--                </ul>-->
<!--            </div>-->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Assumenda atque consequatur distinctio dolorem explicabo iste magnam
                molestiae nesciunt officia, pariatur tempore velit? A asperiores hic in ipsum,
                mollitia provident repellendus.
            </p>
            <button type="button">Let's Talk!</button>
        </div>
    </div>
</section>

<!--<section class="education-section" id="education">-->
<!--    <h2 class="heading">My <span>Journey</span></h2>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem commodi delectus et exercitationem hic id laboriosam molestias nulla officia quasi rem, rerum? Deserunt ipsum nisi non quaerat sequi vero!</p>-->
<!--</section>-->

<script src="../static/vanilla-tilt.js"></script>
</body>
</html>

